<nav :class="className">
    <div class="flex items-center text-white mr-6">
        <font-awesome-icon class="fill-current h-8 w-8 mr-2" icon="bars"></font-awesome-icon>
        <span class="font-semibold text-xl tracking-tight sm:hidden md:block lg:block xl:block">{{ brand }}</span>
    </div>
    <div class="block lg:hidden">
        <button class="flex items-center px-3 py-2 border rounded text-white border-white-400 hover:text-white hover:border-white">
            <font-awesome-icon icon="bars"></font-awesome-icon>
        </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow m-1">
            <a v-for="(link, index) in links" :key="index" :href="link.url" :class="link.class" v-if="link.position === 'left'">
                {{ link.name }}
            </a>
        </div>
        <div>
            <a v-for="(link, index) in links" :key="index" :href="link.url" :class="link.class" v-if="link.position === 'right'">{{ link.name }}</a>
        </div>
    </div>
</nav>